.Header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70px;
  width: 100%;
  background-color: #1b1b1b;
}

.container-img {
  display: flex;
}

.container-img img {
  margin: 0;  
  object-fit: cover;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu ul {
  display: inline-flex;
}

.container-menu li {
  color: #ffffff;
  font-size: 15px;
  margin-right: 35px;
  list-style: none;
}