.Header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 150px;
  width: 100%;
  background-color: #929aab;
}

.container-img {
  display: flex;
}

.container-img img {
  margin: 0;
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu ul {
  display: inline-flex;
}

.container-menu li {
  color: #ffffff;
  font-size: 18px;
  margin-right: 35px;
  list-style: none;
}